@font-face {
    font-family: 'Rubik';
    src: url(fonts/rubik-font/Rubik-VariableFont_wght.ttf);
}

body {
    font-family: 'Rubik';
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2a;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    margin: 0px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #4542d5;
}

.main-content {
    display: flex;
    gap: 50px;
}

.tool-selection {
    justify-content: space-evenly;
}

.tool-selection, .tool-selection-match {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 180px;
    gap: 20px;
    border: 2px solid #4542d5;
    border-radius: 8px;
    align-items: center;
    background-color: #363636;
}

.tool {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    width: 100%;
    height: 70px;
}

.tool img {
    transition: 0.3s;
}

.tool-selected {
    background-color: #2c2c2c;
}

.tool:hover img, .tool-selected img{
    transition: 0.3s;
    transform: scale(0.85);
}

.color-selection {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.color-input-wrapper
{
    align-items: center;
    border-radius: 100%;
    height: 72px;
    justify-content: center;
    overflow: hidden;
    width: 72px;
}

.erease-tool {
    width: 50px;
    height: 50px;
}

.rainbow-brush-tool, .blackbrush-increase-tool {
    width: 54px;
    height: 54px;
}

.resize-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-label {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    margin-top: 20px;
}

.resize-button {
   background-color: lightgreen;
   border-radius: 8px;
   border: 1px solid black;
   height: 50px;
   margin-top: 20px;
   width:70px;
}

.sketch-box {
    align-items: center;
    align-items: flex-start;
    display: inline-flex;
    justify-content: center;
    width: 700px;
}


.sketch-container {
    align-content: flex-start;
    border: 2px solid #5351f0;
    display: inline-flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    max-width: 700px;
}

.test {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;

}

input[type="number"] {
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
    text-align: center;
    vertical-align: top;
    width: 70px;
}

input[type="color"] {
    background-color: transparent;
    border: none;
    height: 90px;
    margin-left: -10px;
    margin-top: -10px;
    outline: none;
    width: 90px;
}


.color-selecion-label {
    background-color: black;
    border-radius: 100%;
    color:transparent;
    height: 80px;
    position: fixed;
    width: 80px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
      opacity: 1;
  }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 40px;
    background-color: #4542d5;
}

.footer-attribute a {
    color: inherit;
    text-decoration: none;
}

.footer-attribute a:visited {
    color: inherit;
}
